.table {
  flex: 1 1 0;
  text-align: right;
  border-spacing: 0;
}

.table th,
.table td {
  flex: 1 1 0;
}

.table tr {
  padding: 0 1rem;
}

.table.bids tr {
  display: flex;
  flex-direction: row;
}

.table.asks tr {
  display: flex;
  flex-direction: row-reverse;
}

.tableHeader th {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  font-size: 0.85rem;
  padding: 0.25rem 0;
  color: var(--subtitle-text-color);
}

.priceCell {
  color: #33a575;
}
